{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h1 class="my-4">{% trans "My Favoutite Cities" %}</h1>

<div class="input-group">
    <div class="input-group-text" id="btnGroupAddon"><i class="fa-solid fa-magnifying-glass fa-xl px-3" style="color: #04253e;"></i></div>
    <input class="form-control" type="search" id="city_filter" onkeyup="city_filter();" placeholder="{% trans 'Search city' %}...">
</div>

<div>
    <a href="{% url 'city_list' %}" class="btn btn-info px-2 text-white my-3">{% trans 'Discover New Cities' %}</a>
</div>

<div id="cities" class="my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for c in cities %}
            <div class="col city_filter_card" id="{{ c.name }}" data-city="{{ c.city.id }}">
                <div class="card border-secondary mb-3 h-100" 
                style="background-color:
                {% if c.city.country.continent == 'EU' %} lightblue
                {% elif c.city.country.continent == 'NA' or c.country.continent == 'SA' %}thistle
                {% elif c.city.country.continent == 'AS' %} thistle
                {% elif c.city.country.continent == 'AF' %} palegoldenrod
                {% elif c.city.country.continent == 'OC' %} palegreen
                {% else %} beige
                {% endif %};">
                    <div class="card-header d-flex justify-content-center">
                        <h5 class="px-2">{{ c.name }}{% if c.country.name != "" %},&nbsp{{ c.country.name }}{% endif %},&nbsp{{ c.city.country.continent }}</h5>
                        {% if user.is_authenticated %}
                        <div id="{{ c.slug }}">
                            <a type="btn" data-slug = "{{ c.slug }}" data-city = "{{ c.city.id }}" data-url='{% url "city_like" %}' class="city_like">
                                {% if c in user.fav_cities.all %}
                                    <i class="fa-solid fa-circle-minus fa-xl" style="color: #ff0000;"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart fa-xl"></i>
                                {% endif %}
                            </a>
                        </div>
                        {% endif %}  
                    </div>
                    {% if c.presentation != "" %}
                    <div class="card-body">
                        <p class="card-text">{{ c.presentation|linebreaks }}</p>
                    </div>
                    {% endif %}
                    <div class="card-footer d-flex justify-content-center">  
                        <a href="{{ c.get_absolute_url }}" class="card-link btn btn-primary" role="button">{% trans "More about" %}&nbsp{{ c.name }}</a>
                    </div>
                </div>
            </div>

        {% empty %}
            <div>
                <h4 class="my-3">{% trans 'No favorite cities' %}<h4>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}