Django==4.2.10
dj-database-url==2.1.0
psycopg2-binary==2.9.9
pillow==10.2.0
whitenoise==6.6.0
beautifulsoup4==4.12.3
django-bootstrap-v5==1.0.11
soupsieve==2.5
openai==1.55.3 
langchain==0.1.6
geopy==2.4.1
django-environ==0.11.2
django-crispy-forms==2.1
django-cities-light==3.10.1
django-cors-headers==4.3.1
folium==0.15.1
googletrans-py==4.0.0
django-htmx==1.17.3
six==1.16.0
gunicorn==22.0.0
urllib3==2.2.1
