{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row justify-content-between m-2">
    <div class="col">
        <h1>{{ route.title }}</h1>
    </div>
    
    <div class="col">    
        {% if route.state == 'P' %}
        <div class="text-info">
            {% trans 'Planned' %}
            <i class="fa-solid fa-paper-plane fa-xl"></i>
        </div>
        {% elif route.state == 'I' %}
        <div class="text-warning">
            {% trans 'In Progress' %} &nbsp
            <i class="fa-solid fa-list-check fa-xl"></i>
        </div>
        {% elif route.state == 'F' %}
        <div class="text-success">
            {% trans 'Finished' %} &nbsp
            <i class="fa-solid fa-calendar-check fa-xl"></i>
        </div>
        {% elif route.state == 'C' %}
        <div class="text-danger">
            {% trans 'Cancelled' %} &nbsp
            <i class="fa-solid fa-calendar-xmark fa-xl"></i>
        </div>
        {% endif %}
    </div>
</div>

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col">
            <i class="fa-solid fa-location-dot fa-xl" style="color: #7b00bd;"></i>
            <strong>{% trans 'From' %}:</strong>&nbsp{{ route.origin.name }}
        </div>
        <div class="col">
            <i class="fa-solid fa-location-dot fa-xl" style="color: #e00000;"></i>
            <strong>{% trans 'To' %}:</strong>&nbsp{{ route.destination.name }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <i class="fa-solid fa-play fa-xl"></i>
            <strong>{% trans 'Start Day' %}:</strong>&nbsp{{ route.start_date}}
        </div>
        <div class="col">
            <i class="fa-solid fa-flag-checkered fa-xl"></i>
            <strong>{% trans 'End Day' %}:</strong>&nbsp{{ route.end_date }}
        </div>
    </div>
    {% if route.travel_profile %}
    <br>
    <div class="row">
        <div class="col">
            <i class="fa-solid fa-id-card-clip fa-xl" style="color: #26889c;"></i>
            <strong>{% trans 'Travel Profile' %}:</strong>&nbsp{{ route.travel_profile.title }}
        </div>
        <div class="col">    
            {{ route.travel_profile.description }}
        </div>
    </div>
    {% endif %}
</div>


<div class="m-5">
    <p class="lead text-secondary">
        {{ route.description }}
    </p>
</div>

{% if poa %}
<div class="mt-4">
    <table class="table">
        <tbody>
            <tr style="background-color:#FFDAB9;">
                <th scope="row">
                    <i class="fa-solid fa-bed fa-xl" style="color: orange;"></i> &nbsp
                    {% trans 'Accomodation Point' %}
                </th>
                <td>
                    {{ poa.name }}
                </td>
                <td>
                    <a href="{{ poa.get_absolute_url }}" class="btn btn btn-warning w-100">{% trans 'More Details' %}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}

<!-- Accordion medium or bigger devices-->
<div class="accordion d-none d-md-block" id="accordionPanelsStayOpenExample">
    {% for day in route_info %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading{{ day.info.day }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ day.info.day }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ day.info.day }}">
                <h3>
                    {% trans 'Day' %}&nbsp{{ day.info.day }}
                    <small class="text-muted">&nbsp{{ day.info.date }}</small>
                </h3>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse{{ day.info.day }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{ day.info.day }}">
            <div class="accordion-body">
            
            {% if LANGUAGE_CODE == 'es' %}
            <strong class="text-success h3">{{ day.info.presentation_es }}</strong>
            {% else %}
            <strong class="text-success h3">{{ day.info.presentation }}</strong>
            {% endif %}
            <br>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col"> {% trans 'Moment' %}</th>
                    <th scope="col"> {% trans 'Activity' %}</th>
                    <th scope="col"> {% trans 'Place' %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for act in day.morning %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Morning' %}</th>
                            <td>
                                {{ act.activity }}
                            </td>
                            <td>
                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %} w-100">{{ act.point }}</a>
                                {% endif %}  
                            </td>
                        </tr>
                    {% endfor %}

                    {% for act in day.afternoon %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Afternoon' %}</th>
                            <td>
                                {{ act.activity }}
                            </td>
                            <td>
                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %} w-100">{{ act.point }}</a>
                                    {% endif %}  
                            </td>
                        </tr>
                    {% endfor %}

                    {% for act in day.evening %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Evening' %}</th>
                            <td>
                                {{ act.activity }}
                            </td>
                            <td>
                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %} w-100">{{ act.point }}</a>
                                    {% endif %}  
                            </td>
                        </tr>
                    {% endfor %}

                    {% for act in day.night %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Night' %}</th>
                            <td>
                                {{ act.activity }}
                            </td>
                            <td>
                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %} w-100">{{ act.point }}</a>
                                {% endif %}  
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- End accordion medium or bigger devices-->

<!-- Accordion small devices-->
<div class="accordion d-md-none" id="accordionPanelsStayOpenExample">
    {% for day in route_info %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading{{ day.info.day }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ day.info.day }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ day.info.day }}">
                <h3>
                    {% trans 'Day' %}&nbsp{{ day.info.day }}
                    <small class="text-muted">&nbsp{{ day.info.date }}</small>
                </h3>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse{{ day.info.day }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading{{ day.info.day }}">
            <div class="accordion-body">
            <strong class="text-success">{{ day.info.presentation }}</strong>
            <br>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{% trans 'Moment' %}</th>
                    <th scope="col">{% trans 'Activity' %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for act in day.morning %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Morning' %}</th>
                            <td>
                                <div style="display:block;">{{ act.activity }}</div>
                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %};">{{ act.point }}</a>
                                {% endif %} 
                            </td>
                        </tr>
                    {% endfor %}

                    {% for act in day.afternoon %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Afternoon' %}</th>
                            <td>
                                <div style="display:block;">{{ act.activity }}</div>
                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %};">{{ act.point }}</a>
                                {% endif %}  
                            </td>
                        </tr>
                    {% endfor %}

                    {% for act in day.evening %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Evening' %}</th>
                            <td>
                                <div style="display:block;">{{ act.activity }}</div>
                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %};">{{ act.point }}</a>
                                {% endif %}  
                            </td>
                        </tr>
                    {% endfor %}

                    {% for act in day.night %}
                        <tr style="background-color:
                            {% if act.type == 'I' %}#B2F591
                            {% elif act.type == 'E' %}#FFCCCC
                            {% elif act.type == 'G' %}#B0E2FF
                            {% else %}#F2E6CF
                            {% endif %};">
                            <th scope="row">{% trans 'Night' %}</th>
                            <td>
                                <div style="display:block;">{{ act.activity }}<div>

                                {% if act.point %}
                                    <a href="{{ act.point.get_absolute_url }}" class="btn 
                                    {% if act.type == 'I' %}btn-success
                                    {% elif act.type == 'E' %}btn-danger
                                    {% elif act.type == 'G' %}btn-primary
                                    {% else %}btn-secondary
                                    {% endif %};">{{ act.point }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- End accordion small devices-->

{% if explanation %}
<div class="my-4 mx-2 border border-info"> 
    <div class="d-flex justify-content-center m-2 my-4">
        <h1>{% trans 'Why this route?' %}</h1>
    </div>

    <div class="row m-2">
        <p>{{ explanation }}</p>
    </div>
</div>
{% endif %}

<!-- Start Origin Info -->
<div class="d-flex justify-content-center m-2 my-4">
    <h1> {% trans 'About the origin' %}</h1>
</div>

{% if origin %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="col bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-city fa-xl m-2"></i>{% trans 'City' %}</h2>
            <h3 class="display-6 my-3">{{ origin.name }}</h3>
            {% if origin.presentation != "" %}
                <p class="lead fw-normal">{{ origin.presentation|linebreaks }}</p>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="{{ origin.slug }}">
                <a type="btn" data-slug = "{{ origin.slug }}" data-city = "{{ origin.city.id }}" data-url='{% url "city_like" %}' class="city_like">
                    {% if origin in user.fav_cities.all %}
                        <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %} 
            <div><a href="{{ origin.get_absolute_url }}" class="btn btn-dark my-3" role="button">{% trans "More about" %}&nbsp{{ origin.name }}</a></div>
        </div>
    </div>
    {% if origin.country %}
    <div class="col bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-flag fa-xl m-2"></i>{% trans 'Country' %}</h2>
            <h3 class="display-6">{{ origin.country.name }}</h3>
            {% if origin.country.presentation != "" %}
                <p class="lead fw-normal">{{ origin.country.presentation|linebreaks }}</p>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="{{ origin.country.slug }}">
                <a type="btn" data-slug = "{{ origin.country.slug }}" data-country = "{{ origin.country.country.id }}" data-url='{% url "country_like" %}' class="country_like">
                    {% if origin.country in user.fav_countries.all %}
                        <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %} 
            <div><a href="{{ origin.country.get_absolute_url }}" class="btn btn-light my-3" role="button">{% trans "More about" %}&nbsp{{ origin.country.name }}</a></div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
<!-- End Origin Info -->



<!-- Start Destination Info -->
{% if destination %}
<div class="d-flex justify-content-center m-2 my-4">
    <h1> {% trans 'About the destination' %}</h1>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="col bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-city fa-xl m-2"></i>{% trans 'City' %}</h2>
            <h3 class="display-6 my-3">{{ destination.name }}</h3>
            {% if destination.presentation != "" %}
                <p class="lead fw-normal">{{ destination.presentation|linebreaks }}</p>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="{{ destination.slug }}">
                <a type="btn" data-slug = "{{ destination.slug }}" data-city = "{{ destination.city.id }}" data-url='{% url "city_like" %}' class="city_like">
                    {% if destination in user.fav_cities.all %}
                        <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %} 
            <div><a href="{{ destination.get_absolute_url }}" class="btn btn-light my-3" role="button">{% trans "More about" %}&nbsp{{ destination.name }}</a></div>
        </div>
    </div>
    {% if destination.country %}
    <div class="col bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-flag fa-xl m-2"></i>{% trans 'Country' %}</h2>
            <h3 class="display-6">{{ destination.country.name }}</h3>
            {% if destination.country.presentation != "" %}
                <p class="lead fw-normal">{{ destination.country.presentation|linebreaks }}</p>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="{{ destination.country.slug }}">
                <a type="btn" data-slug = "{{ destination.country.slug }}" data-country = "{{ destination.country.country.id }}" data-url='{% url "country_like" %}' class="country_like">
                    {% if destination.country in user.fav_countries.all %}
                        <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %} 
            <div><a href="{{ destination.country.get_absolute_url }}" class="btn btn-dark my-3" role="button">{% trans "More about" %}&nbsp{{ destination.country.name }}</a></div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
<!-- End Destination Info -->

{% endblock %}