{% extends "base.html" %}
{% load i18n %}

{% block content %}

<nav id="navbar-home" class="navbar navbar-light bg-light px-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyCountries">{% trans 'Countries' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyCities">{% trans 'Cities' %}</a>
      </li>
    </ul>
</nav>

<div class="d-flex justify-content-center my-4">
    <h2>{% trans "Dare to Dream, Plan to Travel" %}</h2>
</div>

{% if user.is_authenticated %}
    <div class="my-4">
        <h3>{% trans "Welcome" %}&nbsp{{ user.username }}!</h3>
    </div>
{% endif %}

<div data-bs-spy="scroll" data-bs-target="#navbar-home" data-bs-offset="0" class="scrollspy-example" tabindex="0">
<!-------------------------Countries----------------------->
    <div id="scrollspyCountries">
        <h1 class="my-4">{% trans "Countries" %}</h1>

        <div class="input-group">
            <div class="input-group-text" id="btnGroupAddon"><i class="fa-solid fa-magnifying-glass fa-xl px-3" style="color: #04253e;"></i></div>
            <input class="form-control" type="search" id="country_filter" oninput="country_filter();" placeholder="{% trans 'Search country' %}...">
        </div>

        <div class="d-none d-sm-block">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td style="background-color:lightblue;"> {% trans 'Europe, EU'%} </td>
                    <td style="background-color:thistle;"> {% trans 'America, NA/SA'%} </td>
                    <td style="background-color: #7FEAC6;"> {% trans 'Asia, AS'%} </td>
                    <td style="background-color:palegoldenrod;"> {% trans 'Africa, AF'%} </td>
                    <td style="background-color:palegreen;"> {% trans 'Oceania, OC'%} </td>
                </tr>
            </table>
        </div>
        <div class="d-sm-none">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td colspan = "2" style="background-color:lightblue;"> {% trans 'Europe, EU'%} </td>
                    <td style="background-color:thistle;"> {% trans 'America, NA/SA'%} </td>
                </tr>
                <tr>
                    <td style="background-color: #7FEAC6;"> {% trans 'Asia, AS'%} </td>
                    <td style="background-color:palegoldenrod;"> {% trans 'Africa, AF'%} </td>
                    <td style="background-color:palegreen;"> {% trans 'Oceania, OC'%} </td>
                </tr>
            </table>
        </div>

        <div class="d-grid gap-2 d-md-block my-4" id="countries_list">
            {% for c in country_bases %} 
                <button class ="country_filter_search btn btn-secondary" style="display:none;">
                    <div data-country = "{{ c.id }}" data-url='{% url "country_search" %}' class="country_search">
                        {{ c.name }}
                    </div>
                </button>
            {% endfor %}
        </div>

        <div id="countries" class="my-4">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for c in countries %}
                    <div class="col country_filter_card" id="{{ c.name }}" data-country="{{ c.country.id }}">
                        <div class="card border-secondary mb-3 h-100" 
                        style="background-color:
                        {% if c.country.continent == 'EU' %} lightblue
                        {% elif c.country.continent == 'NA' or c.country.continent == 'SA' %}thistle
                        {% elif c.country.continent == 'AS' %} #7FEAC6
                        {% elif c.country.continent == 'AF' %} palegoldenrod
                        {% elif c.country.continent == 'OC' %} palegreen
                        {% else %} beige
                        {% endif %};">
                            <div class="card-header d-flex justify-content-center overflow-auto">
                                <h5 class="px-2">{{ c.name }},&nbsp{{ c.country.continent }}</h5>
                                {% if user.is_authenticated %}
                                <div id="{{ c.slug }}">
                                    <a type="btn" data-slug = "{{ c.slug }}" data-country = "{{ c.country.id }}" data-url='{% url "country_like" %}' class="country_like">
                                        {% if c in user.fav_countries.all %}
                                            <i class="fa-solid fa-heart fa-xl" style="color: #ff0000;"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart fa-xl"></i>
                                        {% endif %}
                                    </a>
                                </div>
                                {% endif %}  
                            </div>
                            {% if c.presentation != "" %}
                            <div class="card-body">
                                <p class="card-text">{{ c.presentation|linebreaks }}</p>
                            </div>
                            {% endif %}
                            <div class="card-footer d-flex justify-content-center">  
                                <a href="{{ c.get_absolute_url }}" class="card-link btn btn-primary" role="button">{% trans "More about" %}&nbsp{{ c.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<!-------------------------End Countries----------------------->

<!-------------------------Cities----------------------->
    <div id="scrollspyCities">
        <h2 class="my-4">{% trans "Cities" %}</h2>

        <div class="input-group">
            <div class="input-group-text" id="btnGroupAddon"><i class="fa-solid fa-magnifying-glass fa-xl px-3" style="color: #04253e;"></i></div>
            <input class="form-control" type="search" id="city_filter" onkeyup="city_filter();" placeholder="{% trans 'Search city' %}...">
        </div>

        <div class="d-none d-sm-block">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td style="background-color:lightblue;"> {% trans 'Europe, EU'%} </td>
                    <td style="background-color:thistle;"> {% trans 'America, NA/SA'%} </td>
                    <td style="background-color: #7FEAC6;"> {% trans 'Asia, AS'%} </td>
                    <td style="background-color:palegoldenrod;"> {% trans 'Africa, AF'%} </td>
                    <td style="background-color:palegreen;"> {% trans 'Oceania, OC'%} </td>
                </tr>
            </table>
        </div>
        <div class="d-sm-none">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <td colspan = "2" style="background-color:lightblue;"> {% trans 'Europe, EU'%} </td>
                    <td style="background-color:thistle;"> {% trans 'America, NA/SA'%} </td>
                </tr>
                <tr>
                    <td style="background-color: #7FEAC6;"> {% trans 'Asia, AS'%} </td>
                    <td style="background-color:palegoldenrod;"> {% trans 'Africa, AF'%} </td>
                    <td style="background-color:palegreen;"> {% trans 'Oceania, OC'%} </td>
                </tr>
            </table>
        </div>
    
        <div class="d-grid gap-2 d-md-block my-4" id="cities_list">
            {% for c in city_bases %} 
                <button class ="city_filter_search btn btn-secondary" style="display:none;">
                    <div data-city = "{{ c.id }}" data-url='{% url "city_search" %}' class="city_search">
                        {{ c.display_name }}
                    </div>
                </button>
            {% endfor %}
        </div>


        <div id="cities" class="my-4">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for c in cities %}
                    <div class="col city_filter_card" id="{{ c.name }}" data-city="{{ c.city.id }}">
                        <div class="card border-secondary mb-3 h-100" 
                        style="background-color:
                        {% if c.city.country.continent == 'EU' %} lightblue
                        {% elif c.city.country.continent == 'NA' or c.country.continent == 'SA' %}thistle
                        {% elif c.city.country.continent == 'AS' %} #7FEAC6
                        {% elif c.city.country.continent == 'AF' %} palegoldenrod
                        {% elif c.city.country.continent == 'OC' %} palegreen
                        {% else %} beige
                        {% endif %};">
                            <div class="card-header d-flex justify-content-center overflow-auto">
                                <h5 class="px-2">{{ c.name }}{% if c.country.name != "" %},&nbsp{{ c.country.name }}{% endif %},&nbsp{{ c.city.country.continent }}</h5>
                                {% if user.is_authenticated %}
                                <div id="{{ c.slug }}">
                                    <a type="btn" data-slug = "{{ c.slug }}" data-city = "{{ c.city.id }}" data-url='{% url "city_like" %}' class="city_like">
                                        {% if c in user.fav_cities.all %}
                                            <i class="fa-solid fa-heart fa-xl" style="color: #ff0000;"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart fa-xl"></i>
                                        {% endif %}
                                    </a>
                                </div>
                                {% endif %}  
                            </div>
                            {% if c.presentation != "" %}
                            <div class="card-body">
                                <p class="card-text">{{ c.presentation|linebreaks }}</p>
                            </div>
                            {% endif %}
                            <div class="card-footer d-flex justify-content-center">  
                                <a href="{{ c.get_absolute_url }}" class="card-link btn btn-primary" role="button">{% trans "More about" %}&nbsp{{ c.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
<!-------------------------End Cities----------------------->
</div>
{% endblock %}