{% extends "base.html" %}
{% load i18n %}

{% block content %}


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-color: #FFCCCC;">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">{{ poe.name }}</h1>
        {% if poe.type %}
            <h6 class="card-header d-flex justify-content-center">
                {% if poe.type == 'C' %}
                    <i class="fa-solid fa-film fa-xl m-2"></i>   
                    {% trans 'Cinema' %} 
                {% elif poe.type == 'W' %}
                    <i class="fa-solid fa-bowling-ball fa-xl m-2"></i>
                    {% trans 'Bowling Alley' %}
                {% elif poe.type == 'N' %}
                    <i class="fa-solid fa-champagne-glasses fa-xl m-2"></i>
                    {% trans 'Nightclub' %}
                {% elif poe.type == 'M' %}
                    <i class="fa-brands fa-shopify fa-xl m-2"></i>
                    {% trans 'Mall/Shop' %}
                {% elif poe.type == 'T' %}
                    <i class="fa-solid fa-ticket-simple fa-xl m-2"></i>
                    {% trans 'Theme Park' %}
                {% elif poe.type == 'B' %}
                    <i class="fa-solid fa-umbrella-beach fa-xl m-2"></i>
                    {% trans 'Beach' %}
                {% else %}
                    <i class="fa-solid fa-ticket fa-xl m-2"></i>
                    {% trans 'Entertainment Point' %}
                {% endif %}
            </h6>
        {% endif %}
        {% if poe.presentation != "" %}
            <p class="lead fw-normal">{{ poe.presentation|linebreaks }}</p>
        {% endif %}
        {% if user.is_authenticated %}
        <div id="{{ poe.slug }}">
            <a type="btn" data-slug = "{{ poe.slug }}" data-poe = "{{ poe.point_name }}" data-url='{% url "poe_like" %}' class="poe_like">
                {% if poe in user.fav_poes.all %}
                    <i class="fa-solid fa-heart fa-xl" style="color: #ff0000;"></i>
                {% else %}
                    <i class="fa-regular fa-heart fa-xl"></i>
                {% endif %}
            </a>
        </div>
        {% endif %}  
        {% if poe.image_url %}
        <div class="my-3">
            <img src="{{ poe.image_url }}" class="img-fluid" alt="{{ poe.name }}">
        </div>
        {% endif %} 
    </div>
</div>

{% if poe.description %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3"> 
    <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: #CB4335 ;">
        <div class="my-3 py-3">
        <h2 class="display-5"><i class="fa-solid fa-info fa-xl m-2"></i></h2>
        <p class="lead">{{ poe.description|linebreaks }}</p>
        </div>
    </div>
</div>
{% endif %}

{% if poe.shedule_avg or poe.price_avg %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {% if poe.shedule_avg %}
    <div class="col me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #FFCCCC;">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-clock fa-xl"></i></h2>
            <h3 class="display-6">{% trans 'Schedule' %}</h3>
            <p class="lead">{{ poe.shedule_avg }}</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
    </div>
    {% endif %}

    {% if poe.price_avg %}
    <div class="col me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: #CB4335 ;">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-money-bill-wave fa-xl"></i></h2>
            <h3 class="display-6">{% trans 'Price' %}</h3>
            <p class="lead">{{ poe.price_avg }}</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 0 0;"></div>
    </div>
    {% endif %}
</div>
{% endif %}

{% if poe.latitude or poe.longitude %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="col me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #FFCCCC;">
        <div class="my-3 py-3">
            <h2 class="display-5"><i class="fa-solid fa-globe fa-xl"></i></h2>
            {% if poe.latitude %}
            <h3 class="display-6">{% trans 'Latitude' %}</h3>
            <p class="lead">{{ poe.latitude }}</p>
            {% endif %}
            {% if poe.longitude %}
            <h3 class="display-6">{% trans 'Longitude' %}</h3>
            <p class="lead">{{ poe.longitude }}</p>
            {% endif %}
        </div>
    </div>
</div>  
{% endif %}

{% if poe.location and map %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="col me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: #CB4335;">
        <div class="my-3 py-3">
        <h2 class="display-5"><i class="fa-solid fa-map fa-xl"></i></h2>
        {% if poe.location and poe.location != "NF" %}
        <h2 class="display-6">{{ poe.location }}</h2>
        {% endif %}
        {% if map %}
        {{ map | safe }}
        {% endif %}
        </div>
    </div>
</div>
{% endif %}



{% if poe.city.country or poe.city %}
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {% if poe.city.country %}
    <div class="col me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="background-color: #CB4335;">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-flag fa-xl m-2"></i>{% trans 'Country' %}</h2>
            <h3 class="display-6">{{ poe.city.country.name }}</h3>
            {% if poe.city.country.presentation != "" %}
                <p class="lead fw-normal">{{ poe.city.country.presentation|linebreaks }}</p>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="{{ poe.city.country.slug }}">
                <a type="btn" data-slug = "{{ poe.city.country.slug }}" data-country = "{{ poe.city.country.country.id }}" data-url='{% url "country_like" %}' class="country_like">
                    {% if poe.city.country in user.fav_countries.all %}
                        <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %} 
            <div><a href="{{ poe.city.country.get_absolute_url }}" class="btn btn-light my-3" role="button">{% trans "More about" %}&nbsp{{ poe.city.country.name }}</a></div>
        </div>
    </div>
    {% endif %}

    {% if poe.city %}
    <div class="col me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #FFCCCC;">
        <div class="my-3 p-3">
            <h2 class="display-5"><i class="fa-solid fa-city fa-xl m-2"></i>{% trans 'City' %}</h2>
            <h3 class="display-6 my-3">{{ poe.city.name }}</h3>
            {% if poe.city.presentation != "" %}
                <p class="lead fw-normal">{{ poe.city.presentation|linebreaks }}</p>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="{{ poe.city.slug }}">
                <a type="btn" data-slug = "{{ poe.city.slug }}" data-city = "{{ poe.city.city.id }}" data-url='{% url "city_like" %}' class="city_like">
                    {% if poe.city in user.fav_cities.all %}
                        <i class="fa-solid fa-heart fa-2xl" style="color: #ff0000;"></i>
                    {% else %}
                        <i class="fa-regular fa-heart fa-2xl"></i>
                    {% endif %}
                </a>
            </div>
            {% endif %} 
            <div><a href="{{ poe.city.get_absolute_url }}" class="btn btn-dark my-3" role="button">{% trans "More about" %}&nbsp{{ poe.city.name }}</a></div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}

{% endblock %}